<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Learning_AdminExample::config"
             title="Learning AdminExample"
             module="Learning_AdminExample"
             resource="Learning_AdminExample::config"
             parent="Magento_Catalog::inventory"
             action="adminpage/page/index"/>
    </menu>
</config>